<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s
                most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
                extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div>
        </div>
    </div>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
    <% dataPost.forEach(post => { %>
    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title><%= post.title  %></title>
            <rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff"
                dy=".3em">32x32</text>
        </svg>
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark"><%= post.title  %></strong>
            <%= post.body %>
            <a href="/post/<%= post._id %>">Read More...</a></p>
        </p>
    </div>
    <% }) %>
    <small class="d-block text-end mt-3">
        <% if (prevPage >= 1) { %>
        <a href="/?page=<%=prevPage%>"><button class="btn btn-primary"> Prev</button></a>
        <% } %>
        <% if (nextPage !== null) { %>
        <a href="/?page=<%=nextPage %>"><button class="btn btn-primary"> Next</button></a>
        <% } %>
    </small>
</div>